body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h1 {   
    color: white;
}

.container {
    width: 400px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(73, 3, 3);
    padding: 30px;   
}

input {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    padding: 6px 15px 6px 15px;
    margin-top: 40px;
    font-size: 20px;
}

button {
    width: 150px;
    background-color:white;
    color: rgb(73, 3, 3)e;
    margin-top: 40px;
    font-size: 20px;
    padding: 4px;
    border-radius: 8px;
}
